<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Age Group List</title>
 <link th:replace="layout/default-layout::link"></link>

</head>

<body th:replace="layout/default-layout::body(title='Age Group List')">
  <div th:fragment="content">
    <div class="row mt-3 mb-5">
      <div class="col-8">
        <a class="btn btn-primary" th:href="@{/ageGroups/create}">Add Age Group</a>
      </div>
      <div class="col-4">

      </div>
    </div>
    <table class="table table-hover" th:if="${!#lists.isEmpty(ageGroups)}">
      <thead>
        <tr class="table-dark">
          <th>N°</th>
          <th>Name</th>
          <th>Min Age</th>
          <th>Max Age</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tr th:each="ageGroup,state:${ageGroups}" th:class="${state.even}?table-light:''">
        <td th:text="${state.count}"></td>
        <td th:text="${ageGroup.groupName}"></td>
        <td th:text="${ageGroup.minAge}"></td>
        <td th:text="${ageGroup.maxAge}"></td>

        <td>
          <div class="row">
            <form th:action="@{|/ageGroups/${ageGroup.id}/edit|}" method="get" class="col-4">
              <input type="submit" value="Update" class="btn btn-success">
            </form>
            <form th:action="@{|/ageGroups/${ageGroup.id}/delete|}" method="Post" class="col-8">
              <input type="submit" value="Delete" class="btn btn-danger">
            </form>
          </div>
        </td>
      </tr>
    </table>
    <div class="alert alert-warning" th:if="${#lists.isEmpty(ageGroups)}">
      No Age Group found !
    </div>


  </div>

</body>

</html>